# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
venv.bak/
*.egg-info/
.dist/
build/
dist/

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Flask specific
instance/
.webassets-cache

# Environments
.env
venv/

# Database
*.sqlite3
*.db

# PyCharm
.idea/

# VS Code
.vscode/
