.forgot-password-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f7f9fc;
  }
  
  .forgot-password-form {
    background-color: #ffffff;
    padding: 7ch;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
  }
  
  .forgot-password-form h2 {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
  }
  
  .forgot-password-form .description {
    margin-bottom: 30px;
    font-size: 14px;
    text-align: center;
    color: #666666;
  }
  
  .forgot-password-form .form-control {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
  }
  
  .forgot-password-form .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    padding: 10px;
    font-size: 16px;
  }
  
  .forgot-password-form .btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
  }
  
  .footer-links {
    text-align: center;
    margin-top: 20px;
  }
  
  .footer-links a {
    color: #007bff;
    text-decoration: none;
  }
  
  .footer-links a:hover {
    text-decoration: underline;
  }
  